<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Admins</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" />
  <link rel="icon" href="https://upload.wikimedia.org/wikipedia/commons/thumb/8/86/EtruscanA-01.svg/347px-EtruscanA-01.svg.png" type="image/icon type" />
</head>

<body>
  <nav class="navbar bg-body-tertiary bg-light">
    <div class="container">
      <a class="navbar-brand" href="/dashboard" style="font-weight: bold; color: black;  font-size: 24px;">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/86/EtruscanA-01.svg/347px-EtruscanA-01.svg.png" alt="Akbar Odilov" width="10%" height="10%" class="d-inline-block align-text-top">
      </a>
      <a class="navbar-brand" href="/dashboard" style="font-weight: bold; color: red;">
        Back
      </a>
    </div>
  </nav>

  <div class="container">
    <main style="margin-top: 20px">
      <div class="row row-cols-1 row-cols-md-3 g-4">
        <% users.forEach(user=> { %>
        <div class="col">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Admin username : <%= user.username %>
              </h5>
              <p class="card-title">Admin password : <%= user.password %>
              </p>
              <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <button type="button" class="btn btn-warning" style="font-weight: bold" data-bs-toggle="modal" data-bs-target="#editModal<%= user._id %>">
                  <svg xmlns="http://www.w3.org/2000/svg" height="16" width="16" viewBox="0 0 512 512">
                    <path d="M410.3 231l11.3-11.3-33.9-33.9-62.1-62.1L291.7 89.8l-11.3 11.3-22.6 22.6L58.6 322.9c-10.4 10.4-18 23.3-22.2 37.4L1 480.7c-2.5 8.4-.2 17.5 6.1 23.7s15.3 8.5 23.7 6.1l120.3-35.4c14.1-4.2 27-11.8 37.4-22.2L387.7 253.7 410.3 231zM160 399.4l-9.1 22.7c-4 3.1-8.5 5.4-13.3 6.9L59.4 452l23-78.1c1.4-4.9 3.8-9.4 6.9-13.3l22.7-9.1v32c0 8.8 7.2 16 16 16h32zM362.7 18.7L348.3 33.2 325.7 55.8 314.3 67.1l33.9 33.9 62.1 62.1 33.9 33.9 11.3-11.3 22.6-22.6 14.5-14.5c25-25 25-65.5 0-90.5L453.3 18.7c-25-25-65.5-25-90.5 0zm-47.4 168l-144 144c-6.2 6.2-16.4 6.2-22.6 0s-6.2-16.4 0-22.6l144-144c6.2-6.2 16.4-6.2 22.6 0s6.2 16.4 0 22.6z" />
                  </svg>
                  Edit
                </button>
              </div>
            </div>
          </div>
        </div>
        <% }); %>
      </div>
      <br />
      <% users.forEach(user=> { %>
      <div class="modal fade" id="editModal<%= user._id %>" tabindex="-1" aria-labelledby="editModalLabel<%= user._id %>" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="editModalLabel<%= user._id %>" style="font-weight: bold">
                Update admin information
              </h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="/users/update/<%= user._id %>" method="post">
              <div class="modal-body">
                <div class="mb-3">
                  <label for="updatedUsername" class="form-label" style="font-weight: bold" id="required">New username:</label>
                  <div class="input-group">
                    <input type="text" class="form-control" id="updatedUsername" name="updatedUsername" placeholder="New username" value="<%= user.username %>" required />
                    <button type="button" class="btn btn-secondary" onclick="generateUsername()">Generate username</button>
                  </div>
                </div>
                <div class="password-container mb-3">
                  <label for="updatedPassword" class="form-label" style="font-weight: bold" id="required">New password:</label>
                  <div class="input-group">
                    <button type="button" class="input-group-text" id="togglePassword">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
                        <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0" />
                        <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8m8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7" />
                      </svg>
                    </button>
                    <input type="password" class="form-control" id="updatedPassword" name="updatedPassword" placeholder="Enter new password" value="<%= user.password %>" required />
                    <button type="button" class="btn btn-secondary" onclick="generatePassword()">Generate password</button>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="submit" class="btn btn-primary" style="font-weight: bold">
                  <svg xmlns="http://www.w3.org/2000/svg" height="18" width="18" viewBox="0 0 448 512" style="fill: white;">
                    <path d="M64 32C28.7 32 0 60.7 0 96V416c0 35.3 28.7 64 64 64H384c35.3 0 64-28.7 64-64V96c0-35.3-28.7-64-64-64H64zM337 209L209 337c-9.4 9.4-24.6 9.4-33.9 0l-64-64c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0l47 47L303 175c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9z" />
                  </svg>
                  Save
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <% }); %>
    </main>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>
<style>
  #required:after {
    content: " *";
    color: red;
  }
</style>
<script>
  const togglePassword = document.querySelector('#togglePassword');
  const password = document.querySelector('#updatedPassword');
  togglePassword.addEventListener('click', function(e) {
    const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
    password.setAttribute('type', type);
    if (togglePassword.src.match("https://media.geeksforgeeks.org/wp-content/uploads/20210917150049/eyeslash.png")) {
      togglePassword.src = "https://media.geeksforgeeks.org/wp-content/uploads/20210917145551/eye.png";
    } else {
      togglePassword.src = "https://media.geeksforgeeks.org/wp-content/uploads/20210917150049/eyeslash.png";
    }
  });

  function generatePassword() {
    const charset = "abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789!@#$%^&*()_+";
    const passwordLength = 12;
    let password = "";
    for (let i = 0; i < passwordLength; i++) {
      const randomIndex = Math.floor(Math.random() * charset.length);
      password += charset.charAt(randomIndex);
    }
    document.getElementById("updatedPassword").value = password; // Updated ID to match the form
  }

  function generateUsername() {
    const usernamePrefix = "admin";
    const randomString = Math.random().toString(36).substring(2, 8);
    const generatedUsername = `${usernamePrefix}${randomString}`;
    document.getElementById("updatedUsername").value = generatedUsername; // Updated ID to match the form
  }
</script>


</html>